/*HUSK FONT FACE og lav forskellige fonte ! kun 2.*/
@font-face {
    font-family: 'Font2';
    src: url(../fonts/Montserrat-VariableFont_wght.woff2) format('woff2');
}
@font-face {
    font-family: 'Font3';
    src: url(../fonts/notosans-variable.woff2) format('woff2');
}
header{background-color: rgb(163, 195, 255); padding: 20px; margin-left: -2rem; margin-right: -2rem; margin-top: -2rem;font-family: 'font2';}
footer{background-color: rgb(163, 195, 255); text-align: center; padding: 20px; margin-left: -2rem; margin-right: -2rem; margin-bottom: -2rem;;}
/*lav font family for de forskellige elementer*/
img{width: 100%; max-width: 768px; padding: 0.5rem;}
button{background-color: #e093de;padding:15px; text-decoration: none; color: rgb(255, 255, 255);border-radius: 5px;border: none;margin-left: 0.5rem;font-family: 'Font2';}
*{box-sizing: border-box;}
section{margin-top: 2rem;border: 0px solid black;margin-bottom: 4rem;padding-left: 0.5rem;font-family: 'Font2';}
h1{margin-left: 0.5rem;font-family: 'Font2';}
h2{margin-left: 0.5rem;margin: 5px;margin-top: 1rem;font-family: 'Font2';}
h3{margin-left: 0.5rem;margin-bottom: 0rem;font-family: 'Font2';}
p{margin-top: 0rem;margin-left: 0.5rem;margin-top: 0.5rem;font-family: 'Font3';}
body{background-color: rgb(219, 237, 253);}